<header>
  <nav>
    <button class="home-button" [routerLink]="['/']">Home</button>
  </nav>
  <h1>MediMate</h1>
  <p>Your Personal Medication Reminder & Information Hub</p>
</header>

<main>
  <app-prescriptions></app-prescriptions>

  <section id="add-prescription">
    <h2>Add Prescription</h2>
    <p>Enter your prescription details to receive accurate reminders for dosage and frequency.</p>
    <app-add-rx></app-add-rx>
  </section>

  <section id="reminders">
    <h2>Reminders</h2>
    <p>Customize reminders to ensure you never miss a dose!</p>
    <button>Set Reminder Time</button>
  </section>

  <section id="medication-history">
    <h2>Medication History</h2>
    <p>Track and review your past medications for easy reference.</p>
    <button>View History</button>
  </section>

  <section id="pharmacy">
    <h2>Your Preferred Pharmacy</h2>
    <p>Get quick access to contact your pharmacy for questions or refills.</p>
    <button [routerLink]="['/locations']">View Pharmacy Info</button>
  </section>

  <app-fda-info></app-fda-info>
</main>

<footer>
  <p>MediMate - Helping You Stay On Track With Your Medication</p>
</footer>
