<header>
    <a class="home-button" [routerLink]="['/']">Home</a>
    <h1>Preferred Pharmacies</h1>
  </header>
  
  <main>
    <section id="walgreens">
      <h3>Walgreens Pharmacy</h3>
      <p><strong>Phone Number:</strong> 218-628-2897</p>
      <a href="https://www.walgreens.com/locator/walgreens-4501+grand+ave-duluth-mn-55807/id=7126" target="_blank" rel="noopener noreferrer">Pharmacy Website</a>
      <p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87407.3453133121!2d-92.10952506650725!3d46.794859002747174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52ae4c358744e9cf%3A0xda753d9637f64082!2sWalgreens%20Pharmacy!5e0!3m2!1sen!2sus!4v1733710215062!5m2!1sen!2sus"
          width="400"
          height="300"
          style="border:0;"
          allowfullscreen="">
        </iframe>
      </p>
    </section>
  </main>
  
  <footer>
    <p>MediMate - Helping You Stay On Track With Your Medication</p>
  </footer>
  